body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}

.comment-display {
    position: absolute;
    width: 100vw;
    padding: 20px;
    bottom: 0;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
}
